{% include base_path %}

<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}
  {% if site.atom_feed.hide != true %}
  &middot; <a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}">{{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a>
  {% endif %}
  &middot; <a href="{{ base_path }}/sitemap/">{{ site.data.ui-text[site.locale].site_map | default: "Sitemap" }}</a>
</div>
